* {
  font-family: 'Inter';
}

html {
  height: 100%;
  font-size: 16px;
  @media (max-width: 1680px)  {
    font-size: 12px;
  }
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #363636 !important;
}

body.fontLoaded {
  font-family: 'Inter';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  @media (max-width: 900px)  {
    width: 380vh;
  }
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0.833vw 1.458vw;
  @media (min-width: 1367px)  {
    height: 100vh;
  }
}

.container {
  position: relative;
  flex-grow: 1;
}

.fill-screen-content {
  flex-direction: column;
  position: absolute;
  width: 100%;
  @media (min-width: 1367px)  {
    height: 100%;
    display: flex;
  }
}

p {
  margin-block-end: 0;
  margin-block-start: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev {
  color: white !important;
}

.swiper-button-next {
  color: white !important;
}

.swiper-pagination {
  color: white !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
